@()
<script src="../../public/javascripts/websocket.js"></script>
<html>
    <head>

        <title>Das ist der Chat</title>
        <link rel="stylesheet" href="chat.css">
    </head>

    <body>
        <div class="chat">
            <div class="statusbar">
                <h2>statusbar</h2>

            </div>
            <div class="innerchat chatleiste">
                <h2>chatleiste</h2>

            </div>
            <div class="innerchat chatbox">
                <h2>chatbox</h2>
            </div>
            <div class="innerchat rightcombined">
                <div class="innerchat rightcombined optionen">
                    <h2>optionen</h2>

                </div>
                <div class="innerchat rightcombined timeline">
                    <h2>timeline</h2>
                </div>

            </div>
        </div>
    </body>
</html>